### Today's Objective
* Tuples
* Dictionaries
* Pacakages and Modules 
* File DataProcessing
* Sets 
* List Comprahension

In [ ]:
#Problem sets
#1.Check given number is prime or not
    #ex.3,5,7,11,13..
#2.Print all leap years given range(1900 to 2019)
    #(y%400==0 or (y%4==0 and y%100!=0))
#3.1000->5

In [2]:
#String spilt
s="hello-cbit"
s1=s.split("-")
s1

['hello', 'cbit']

In [3]:
#join
s

'hello-cbit'

In [7]:
s2=" ".join(s)
print(s2)
print(int(s2))

h e l l o - c b i t

ValueError: invalid literal for int() with base 10: 'h e l l o - c b i t'

In [6]:
s2.split(" ")

['h', 'e', 'l', 'l', 'o', '-', 'c', 'b', 'i', 't']

In [8]:
l=[1,5,6,4,1,2,7,7]
l

[1, 5, 6, 4, 1, 2, 7, 7]

In [9]:
# input:[1,5,6,4,1,2,7,7]
# output:[1,2,4,5,6,7]

emptyList=[]
for i in l:
    if i not in emptyList:
        emptyList.append(i)
        
print(emptyList)

[1, 5, 6, 4, 2, 7]

In [ ]:
Task -1
l=[3,7,1,5,1,5,1,6,8,8,9,2]
l2=[3,7,1,5,6,8,9,2]
l3=[1,2,3,5,6,7,8,9]
l4=[1,2,3,5,9,8,7,6]
l5=[5,3,2,1,6,7,8,9]
l6=[5,3,2,1,9,8,7,6]

# Tuples
* it is also contains collection of heterogenieoues  data set
* It is immutable
* It is reprasented as like this ()

In [26]:
t=(1,2,4,4,4,8,4,6,1)
print("the total count of 2 is ",t.count(2))
print("Index of 8 is ",t.index(8))
print("min num ",min(t))
print("maximum number ",max(t))
print("sum is ",sum(t))

the total count of 2 is  1
Index of 8 is  5
min num  1
maximum number  8
sum is  34

In [15]:

print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [27]:
#Conversion of list to tuple
t

(1, 2, 4, 4, 4, 8, 4, 6, 1)

In [28]:
t1=list(t)
t1

[1, 2, 4, 4, 4, 8, 4, 6, 1]

In [30]:
t1.append(9)
t1

[1, 2, 4, 4, 4, 8, 4, 6, 1, 9, 9]

In [33]:
t1.append(11)
t1

[1, 2, 4, 4, 4, 8, 4, 6, 1, 9, 9, 10, 10, 11]

In [37]:
t1.append(1222222222)
print(t1)

[1, 2, 4, 4, 4, 8, 4, 6, 1, 9, 9, 10, 10, 11, 1222222222, 1222222222, 1222222222, 1222222222]

In [39]:
#Converaion of list to tuple
listData=tuple(t1)
print(listData)

(1, 2, 4, 4, 4, 8, 4, 6, 1, 9, 9, 10, 10, 11, 1222222222, 1222222222, 1222222222, 1222222222)

# Sets 
- Reprasented as like {}
- unique data set
- mutable
- set{}

In [54]:
s={1,2,4,1,2,5,8}
s

{1, 2, 4, 5, 8}

In [41]:
s.append(9)
s

AttributeError: 'set' object has no attribute 'append'

In [43]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [53]:
s.add(9)
s

{9}

In [55]:
s1={7,8,9,4,7}
s.update(s1)
s

{1, 2, 4, 5, 7, 8, 9}

In [46]:
s.pop()

1

In [47]:
s

{2, 4, 5, 7, 8, 9}

In [48]:
s.pop()

2

In [49]:
s

{4, 5, 7, 8, 9}

In [50]:
s.remove(8)

In [51]:
s

{4, 5, 7, 9}

In [52]:
s.clear()
s

set()

In [56]:
s

{1, 2, 4, 5, 7, 8, 9}

In [57]:
s1

{4, 7, 8, 9}

In [59]:
s3=s.difference(s1)
s3

{1, 2, 5}

In [60]:
s4=s1.difference(s)
s4

set()

In [61]:
s3

{1, 2, 5}

In [62]:
s3.discard(2)
s3

{1, 5}

In [64]:
s

{1, 2, 4, 5, 7, 8, 9}

In [65]:
s1

{4, 7, 8, 9}

In [69]:
t=s.union(s1)
t

{1, 2, 4, 5, 7, 8, 9}

In [70]:
r=s.intersection(s1)
r
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [77]:
# input:ECE4EEE2CIV1CSE4
# output:
#         ECE ECE ECE ECE
#         EEE EEE 
#         CIV 
#         CSE CSE CSE CSE
input_data=input("Enter Your Data....")
Branch_data=[]
int_data=[]
d_data="" # Collecting Each Charater
# For Stroing Branch Data and Integer Data
for ch in input_data:
    if(ch.isalpha()):
        d_data=d_data+ch
    else:
        Branch_data.append(d_data)# Branch Data
        d_data=""
        int_data.append(ch)# Integer Data
print(Branch_data)# For priting stored Branch Data
print(int_data)# For Printing Integers Data

Enter Your Data....ECE4EEE2CIV1CSE4
['ECE', 'EEE', 'CIV', 'CSE']
['4', '2', '1', '4']

In [79]:
# Required output
for i in range(0,len(Branch_data)):
    print(Branch_data[i]*int(int_data[i]))

ECEECEECEECE
EEEEEE
CIV
CSECSECSECSE

In [113]:
# Check given number is prime or not by using funtions
prime_list=[]
def isprime(number):
    count=0
    for i in range(1,number+1):
        if(number%i==0):
            count=count+1 # count+=1
    if(count==2):
        prime_list.append(number)
#         print( number,end=" ")
# number=int(input("Enter Your number..."))
# # Fution with arguments and with out return value
# isprime(number)

In [108]:

# input:10 30
# output:11 13 17 19 23 29 
def checkprimeb_wranges(n1,n2):
    for i in range(n1,n2+1):
        isprime(i)
checkprimeb_wranges(1,100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [106]:
# #perfect Numbers
# input:6
# output:it is perfect number
# 6-->1+2+3 -->6
def isperfect(number):
    su=0
    for i in range(1,number):
        if(number%i==0):
            su+=i#su=su+i
    if(number==su):
        print(number,end=" ")
isperfect(28)

28

In [107]:
def checkperfectb_wranges(n1,n2):
    for i in range(n1,n2):
        isperfect(i)
checkperfectb_wranges(1,30)

6 28

In [ ]:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 
2-->even
3-->odd
5-->odd
7
11-->1+1-->2-->even
13-->1+3-->4-->even
17-->1+7-->8-->even
19-->1+9-->10-->even
23-->2+3-->5-->odd
29-->2+9-->11-->odd

In [118]:
# 5478-->5+4+7+8-->24-->even
prime_list_digit_sum=[]
def digitsum(num):#5478
    su=0
    while(num!=0):#5478!=0(T)
        su=su+num%10
        num=num//10
    prime_list_digit_sum.append(su)

In [112]:
isprime(29)

29

In [114]:
checkprimeb_wranges(1,100)

In [116]:
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [119]:

for i in range(0,len(prime_list)):
    digitsum(prime_list[i])

In [121]:
print(prime_list_digit_sum)

[2, 3, 5, 7, 2, 4, 8, 10, 5, 11, 4, 10, 5, 7, 11, 8, 14, 7, 13, 8, 10, 16, 11, 17, 16]

In [122]:
Even_list=[]
Odd_list=[]
for i in range(0,len(prime_list_digit_sum)):
    if(prime_list_digit_sum[i]%2==0):
        Even_list.append(prime_list_digit_sum[i])
    else:
        Odd_list.append(prime_list_digit_sum[i])

In [123]:
print(Even_list)
print(Odd_list)

[2, 2, 4, 8, 10, 4, 10, 8, 14, 8, 10, 16, 16]
[3, 5, 7, 5, 11, 5, 7, 11, 7, 13, 11, 17]

In [125]:
# for collecting Prime numbers
prime_list=[]
def isprime(number):
    count=0
    for i in range(1,number+1):
        if(number%i==0):
            count=count+1 # count+=1
    if(count==2):
        prime_list.append(number)
def checkprimeb_wranges(n1,n2):
    for i in range(n1,n2+1):
        isprime(i)
checkprimeb_wranges(1,100)
# to find individual digit sum from prime list
prime_list_digit_sum=[]
def digitsum(num):#5478
    su=0
    while(num!=0):#5478!=0(T)
        su=su+num%10
        num=num//10
    prime_list_digit_sum.append(su)
# calculating Digit sum
for i in range(0,len(prime_list)):
    digitsum(prime_list[i])
# to separate Even And Odd Values from Digit list    
Even_list=[]
Odd_list=[]
for i in range(0,len(prime_list_digit_sum)):
    if(prime_list_digit_sum[i]%2==0):
        Even_list.append(prime_list_digit_sum[i])
    else:
        Odd_list.append(prime_list_digit_sum[i])
print(Even_list)
print(Odd_list)

[2, 2, 4, 8, 10, 4, 10, 8, 14, 8, 10, 16, 16]
[3, 5, 7, 5, 11, 5, 7, 11, 7, 13, 11, 17]

# Dictionaries
- set of data
    - this  is in the form of "key" and "value" pairs separated by :
- no index 
- short form of  Dictionary is "dict"(keyword)
- Generalreprasenation of dict like as {}

In [128]:
d={"key1":453,"key2":987,"key3":1234}
print(d)
print(type(d))

{'key1': 453, 'key2': 987, 'key3': 1234}
<class 'dict'>

In [129]:
s={1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [130]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [151]:
d1={"Cbit":2008,"Apssdc":2014,"Python":1991}
d1

{'Cbit': 2008, 'Apssdc': 2014, 'Python': 1991}

In [132]:
#For get all keys from the dict
d1.keys()

dict_keys(['Cbit', 'Apssdc', 'Python'])

In [133]:
#For get all values from the dict
d1.values()

dict_values([2008, 2014, 1991])

In [134]:
d1.get("Apssdc")

2014

In [135]:
d1.fromkeys("Apssdc")

{'A': None, 'p': None, 's': None, 'd': None, 'c': None}

In [138]:
d2={"ap":1000}

In [152]:
d1.update(d2)
d1

{'Cbit': 2008, 'Apssdc': 2014, 'Python': 1991, 'ap': 1000}

In [141]:
d1.popitem()

('ap', 1000)

In [144]:
d1.pop("Cbit")

2008

In [145]:
d1

{'Apssdc': 2014, 'Python': 1991}

In [149]:
d1["python"]=1989
d1

{'Apssdc': 2014, 'Python': 1989, 'python': 1989}

In [150]:
d1.popitem()
d1

{'Apssdc': 2014, 'Python': 1989}

In [153]:
d1

{'Cbit': 2008, 'Apssdc': 2014, 'Python': 1991, 'ap': 1000}

In [160]:
#conversions
key_list=list(d1.keys())
print(key_list)
values_list=list(d1.values())
print(values_list)
key_list[-1]="Salary"
print(key_list)
values_list[-1]=30000
print(values_list)
d1

['Cbit', 'Apssdc', 'Python', 'ap']
[2008, 2014, 1991, 1000]
['Cbit', 'Apssdc', 'Python', 'Salary']
[2008, 2014, 1991, 30000]

{'Cbit': 2008, 'Apssdc': 2014, 'Python': 1991, 'ap': 1000}

In [161]:
d1.items()

dict_items([('Cbit', 2008), ('Apssdc', 2014), ('Python', 1991), ('ap', 1000)])

In [165]:
# CBIT--->2008
# Apssdc--->2014
# Python--->1991
# for key,value in d1.items():
#     print(key,"--->",value)
# for key in d1.keys():
#     print(key)
# for value in d1.values():
#     print(value)
print(d1)
User_key=input("Enter Key Value to modify value:")
User_value=int(input("Enter Value:"))
for key in d1.keys():
    if(key==User_key):
        d1[key]=User_value
print(d1)

{'Cbit': 2008, 'Apssdc': 2014, 'Python': 1991, 'ap': 1000}
Enter Key Value to modify value:ap
Enter Value:30000
{'Cbit': 2008, 'Apssdc': 2014, 'Python': 1991, 'ap': 30000}

In [195]:
l=[2,1,4,6,8,1,4,6,9,6,2,3,4,1,1,1,5,11,7,2,10]
# uniqdata=set(l)
# print(uniqdata)
print(l)
uniqdata=[]
for i in l:
    if( i not in uniqdata):
        uniqdata.append(i)
print(uniqdata)
freq_list=[]
for item in uniqdata:
    freq_list.append(l.count(item))
print(freq_list)
freq_dict={}
for i in range(0,len(uniqdata)):
    freq_dict[uniqdata[i]]=freq_list[i]
freq_dict
for key,value in freq_dict.items():
    print(key,"--->",value)

[2, 1, 4, 6, 8, 1, 4, 6, 9, 6, 2, 3, 4, 1, 1, 1, 5, 11, 7, 2, 10]
[2, 1, 4, 6, 8, 9, 3, 5, 11, 7, 10]
[3, 5, 3, 3, 1, 1, 1, 1, 1, 1, 1]
2 ---> 3
1 ---> 5
4 ---> 3
6 ---> 3
8 ---> 1
9 ---> 1
3 ---> 1
5 ---> 1
11 ---> 1
7 ---> 1
10 ---> 1

In [189]:
sorted_data=sorted(uniqdata)
print(sorted_data)
middle=len(sorted_data)//2
print(len(sorted_data),middle)
print(sorted_data[middle])
l_l=sorted_data[:middle]
print(l_l)
r_l=sorted(sorted_data[middle:],reverse=True)
print(r_l)
first_orderdata=l_l+r_l
print("This is First required output:",first_orderdata)
l_l=sorted(sorted_data[:middle],reverse=True)
r_l=sorted_data[middle:]
print("This is Second Required output:",l_l+r_l)
l_l=sorted(sorted_data[:middle],reverse=True)
r_l=sorted(sorted_data[middle:],reverse=True)
print("This is Third Required Output:",l_l+r_l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
11 5
6
[1, 2, 3, 4, 5]
[11, 10, 9, 8, 7, 6]
This is First required output: [1, 2, 3, 4, 5, 11, 10, 9, 8, 7, 6]
This is Second Required output: [5, 4, 3, 2, 1, 6, 7, 8, 9, 10, 11]
This is Third Required Output: [5, 4, 3, 2, 1, 11, 10, 9, 8, 7, 6]

Task -1
l=[3,7,1,5,1,5,1,6,8,8,9,2]
l2=[3,7,1,5,6,8,9,2]
l3=[1,2,3,5,6,7,8,9]
l4=[1,2,3,5,9,8,7,6]
l5=[5,3,2,1,6,7,8,9]
l6=[5,3,2,1,9,8,7,6]

In [196]:
#Funtion to create a contacts app
contacts={}

In [197]:
contacts

{}

In [211]:
#funtion for adding contacts in the dict
def addContacts(name,mobile_number):
    
    if name in contacts:
        print(name," Already Exist")
    else:
        contacts[name]=mobile_number
        print(name," Added to dict..")
addContacts("ganesh",98790)

ganesh  Added to dict..

In [212]:
print(contacts)

{'muni': 12345, 'vijay': 0, 'sri hari ': 5673, 'ganesh': 98790}

In [215]:
#Update the Contacts from Dict..
def updateContacts(name):
    if name not in contacts:
        print("Contacts not exist for update")
    else:
        num=int(input("Enter the number for update:"))
        contacts[name]=num
        print("Updated Successfully..")
updateContacts("muni")

Enter the number for update3333333
Updated Successfully..

In [216]:
contacts

{'muni': 3333333, 'vijay': 0, 'sri hari ': 5673, 'ganesh': 98790}